:root {
  --bg-body: #0B0F19;
  --bg-card: #111827;
  --color-blue: #3B82F6;
  --color-purple: #8B5CF6;
  --color-white: #F9FAFB;
  --color-green: #10B981;
  --color-red: #EF4444;
  --font-main: 'Inter', sans-serif;
}